<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Today</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='main.css')}}">
    <script src="https://kit.fontawesome.com/f5e602ec7d.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <img src="{{url_for('static', filename='img/icon.png')}}" height=70px, width=70px>
                <h1 class="title is-size-3 has-text-white">
                    How's the Weather Today?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input is-medium is-hovered" name="city" type="text" placeholder="City Name">
                            </div>
                            <div class="control">
                                <button class="button is-dark is-medium is-hovered">
                                    <span class="icon is-small">
                                        <i class="fas fa-search-location"></i>
                                      </span>
                                    </button>
                                </button>
                            </div>
                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% set messageClass = 'is-success is-light' %}
                                {% if category == 'error' %}
                                    {% set messageClass = 'is-danger is-light' %}
                                {% endif %}
                                <div class="notification {{messageClass}}">{{message}}</div>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for stat in weatherLst %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ stat.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="is-size-4">{{stat.city}}</span>
                                        <br>
                                        <span class="is-size-6">{{stat.temperature}}° F</span><br>
                                        <span class="is-size-6"> Feels like {{stat.feelslike}}° F</span>
                                        <br> {{stat.description}}
                                    </p>
                                </div>
                            </div>
                            <div class="media-right">
                                <a href="{{url_for('deleteCity', name=stat.city)}}">
                                    <button class="delete"></button>
                                </a>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</body>

</html>